<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title><ui:insert name="title">SIGE</ui:insert></title>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="resources/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="resources/css/nprogress.css" rel="stylesheet"/>
    <link href="resources/css/green.css" rel="stylesheet"/>

    <link href="resources/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <link href="resources/css/buttons.bootstrap.min.css" rel="stylesheet"/>
    <link href="resources/css/fixedHeader.bootstrap.min.css" rel="stylesheet"/>
    <link href="resources/css/responsive.bootstrap.min.css" rel="stylesheet"/>
    <link href="resources/css/scroller.bootstrap.min.css" rel="stylesheet"/>

    <link href="resources/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet"/>
    <link href="resources/css/jqvmap.min.css" rel="stylesheet"/>
    <link href="resources/css/daterangepicker.css" rel="stylesheet"/>
    <link href="resources/css/custom.min.css" rel="stylesheet"/>
</h:head>
<h:body styleClass="nav-md">
	<div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.xhtml" class="site_title"><i class="fa fa-star"></i> <span>SIGE</span></a>
            </div>
            <div class="clearfix"></div>
            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-table"></i> Cadastros <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="aluno.xhtml">Alunos</a></li>
                      <li><a href="cargo.xhtml">Cargos</a></li>
                      <li><a href="categoriaInsumo.xhtml">Categorias de Insumo</a></li>
                      <li><a href="curso.xhtml">Cursos</a></li>
                      <li><a href="disciplina.xhtml">Disciplinas</a></li>
                      <li><a href="equipamento.xhtml">Equipamentos</a></li>
                      <li><a href="evento.xhtml">Eventos</a></li>
                      <li><a href="fornecedor.xhtml">Fornecedores</a></li>
                      <li><a href="funcionario.xhtml">Funcionários</a></li>
                      <li><a href="insumo.xhtml">Insumos</a></li>
                      <li><a href="necessidade.xhtml">Necessidades Especiais</a></li>
                      <li><a href="sala.xhtml">Salas</a></li>
                      <li><a href="ocorrencia.xhtml">Ocorrências</a></li>
                      <li><a href="professor.xhtml">Professores</a></li>
                      <li><a href="titulacao.xhtml">Titulações</a></li>
                      <li><a href="turma.xhtml">Turmas</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-bar-chart-o"></i> Relatórios <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="#">Relatório 1</a></li>
                      <li><a href="#">Relatório 2</a></li>
                      <li><a href="#">Relatório 3</a></li>
                      <li><a href="#">Relatório 4</a></li>
                      <li><a href="#">Relatório 5</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    John Doe
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>
                
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div id="content" class="right_col" role="main" >
			<ui:insert name="content">Default content</ui:insert>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="resources/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="resources/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="resources/js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="resources/js/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="resources/js/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="resources/js/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="resources/js/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="resources/js/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="resources/js/skycons.js"></script>
    <!-- Flot -->
    <script src="resources/js/jquery.flot.js"></script>
    <script src="resources/js/jquery.flot.pie.js"></script>
    <script src="resources/js/jquery.flot.time.js"></script>
    <script src="resources/js/jquery.flot.stack.js"></script>
    <script src="resources/js/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="resources/js/jquery.flot.orderBars.js"></script>
    <script src="resources/js/jquery.flot.spline.min.js"></script>
    <script src="resources/js/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="resources/js/date.js"></script>
    <!-- JQVMap -->
    <script src="resources/js/jquery.vmap.js"></script>
    <script src="resources/js/jquery.vmap.world.js"></script>
    <script src="resources/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="resources/js/moment.min.js"></script>
    <script src="resources/js/daterangepicker.js"></script>
	<!-- query.dataTables -->
  	<script src="resources/js/jquery.dataTables.min.js"></script>
    <script src="resources/js/dataTables.bootstrap.min.js"></script>
    <script src="resources/js/dataTables.buttons.min.js"></script>
    <script src="resources/js/buttons.bootstrap.min.js"></script>
    <script src="resources/js/buttons.flash.min.js"></script>
    <script src="resources/js/buttons.html5.min.js"></script>
    <script src="resources/js/buttons.print.min.js"></script>
    <script src="resources/js/dataTables.fixedHeader.min.js"></script>
    <script src="resources/js/dataTables.keyTable.min.js"></script>
    <script src="resources/js/dataTables.responsive.min.js"></script>
    <script src="resources/js/responsive.bootstrap.js"></script>
    <script src="resources/js/dataTables.scroller.min.js"></script>
    <script src="resources/js/jszip.min.js"></script>
    
    <!-- Custom Theme Scripts -->
    <script src="resources/js/custom.min.js"></script>
	
</h:body>
</html>