<ui:composition template="/WEB-INF/principal.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
	
	<ui:define name="title">
        SIGE
    </ui:define>

	<ui:define name="content">
	
		<div role="main">
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Fornecedores</h3>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">

							<div class="x_content">
							    <!-- Cadastro Fornecedor --> 
								<h:form >						
									<div class="row">									
									 

									 
										<h:outputLabel value="Código*:"   />
										<h:inputText id="codigo" styleClass="form-control" 									    
											value="#{cadastroFornecedores.fornecedores.codigo}" required="true"
											rendered="#{cadastroFornecedores.fornecedores.codigo != null}"
											requiredMessage="Código é obrigatório" />
										
										<h:outputLabel value="Nome*: "  />
										<h:inputText id="nome" styleClass="form-control"
											value="#{cadastroFornecedores.fornecedores.nome}" required="true"
											
											requiredMessage="NOME é obrigatório" />
										
										<h:outputLabel value="Status "  />
										<h:inputText id="status" styleClass="form-control"
											value="#{cadastroFornecedores.fornecedores.status}" />
											
										<br />

									</div>									
									
										<h:commandButton styleclass="btn btn-primary pull-right"
											action="#{cadastroFornecedores.salvar()}" value="Salvar"> 
										
											  <!--  
											  <div class="alert alert-success">
											    <strong>Info</strong> Cadastro realizado com sucesso !
											  </div>-->
											
										</h:commandButton>
													
									<div class="clearfix"></div>
									
								 </h:form> 
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
