<ui:composition template="/WEB-INF/principal.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
        SIGE
    </ui:define>

	<ui:define name="content">
		<div role="main">
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Cargo</h3>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">

							<div class="x_content">
							    <!-- Cadastro Cargo --> 
							    
								<h:form >						
									<div class="row">

										<h:outputLabel value="Código*: " />
										<h:inputText id="codigo" styleClass="form-control"
											value="#{cadastroCargos.cargos.codigo}" required="true"
											requiredMessage="Código é obrigatório" />
										
										<h:outputLabel value="Nome*: " />
										<h:inputText id="nome" styleClass="form-control"
											value="#{cadastroCargos.cargos.nome}" required="true"
											requiredMessage="NOME é obrigatório" />
										
										<h:outputLabel value="Descrição " />
										<h:inputText id="descricao" styleClass="form-control"
											value="#{cadastroCargos.cargos.descricao}" />
											
										<h:outputLabel value="Competências " />
										<h:inputText id="competencia" styleClass="form-control"
											value="#{cadastroCargos.cargos.competencias}" />
											
										<h:outputLabel value="Piso Salarial " />
										<h:inputText id="pisoSalarial" styleClass="form-control"
											value="#{cadastroCargos.cargos.pisoSalarial}" />
											
										<br />

									</div>	
									
									<h:commandButton styleclass="btn btn-primary pull-right"
										action="#{cadastroCargos.salvar()}" value="Salvar" />				
									<div class="clearfix"></div>
									
								 </h:form> 
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
