<ui:composition template="/WEB-INF/principal.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
        SIGE
    </ui:define>

	<ui:define name="content">
	   <div role="main">		
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Cargos</h3>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<div class="box-header">
									<a href="cad_cargo.xhtml" 
									class="btn btn-success">Cadastrar novo Cargo</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
							    <h:messages styleClass="text-muted font-13 m-b-30"/> 
								<h:messages autoUpdate="true"/>
							  <h:form>
							  		<p>Pesquisar</p>  
  									  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  									</input>
								<table id="datatable" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Código</th>
											<th>Nome</th>
											<th>Descrição</th>
											<th>Competências</th>
											<th>Piso Salarial</th>
											<th style="width: 180px"> </th>
										</tr>
									</thead>

									<tbody id="myTable">

										<ui:repeat var="objeto" value="#{cadastroCargos.lista}">
											<tr>
												<td><h:outputText value="#{objeto.codigo}" /></td>
												<td><h:outputText value="#{objeto.nome}" /></td>
												<td><h:outputText value="#{objeto.descricao}" /></td>
												<td><h:outputText value="#{objeto.competencias}" /></td>
												<td><h:outputText value="#{objeto.pisoSalarial}" /></td>
												
												<td>
												
													<h:commandLink
														actionListener="#{cadastroCargos.editar(objeto.codigo)}"	
														action="cad_cargo?faces-redirect=false}"														
														class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>
															Editar
													</h:commandLink>  												
												    
													
														<h:commandLink
															
															action="#{cadastroCargos.excluir(objeto.codigo)}"
															class="btn btn-danger btn-xs"
															onclick="return confirm('Deseja realmente excluir este registro?')"><i
																class="fa fa-trash"></i> Excluir
																<div class="clearfix"></div>
														</h:commandLink>													
														
												</td>
											</tr>
										</ui:repeat>
									</tbody>
								</table>
							</h:form>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</ui:define>
</ui:composition>