<ui:composition template="/WEB-INF/principal.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">
        SIGE - Cadastro de Disciplinas
    </ui:define>

    <ui:define name="content">
    <div role="main">
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Cadastro de Nova Disciplina</h3>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_content">
								<h:messages styleClass="text-muted font-13 m-b-30"/>
								<h:form id="demo-form">
			                      <h:outputLabel value="Código*:" />
			                      <h:inputText value="#{cadastroDisciplina.disciplina.codigo}" required="true" type="text" id="codigo" class="form-control" name="codigo" />
								  <h:outputLabel value="Nome*:" />
			                      <h:inputText value="#{cadastroDisciplina.disciplina.nome}" required="true" type="text" id="nome" class="form-control" name="nome" />
			                      <h:outputLabel value="Status*:" />
			                      <h:inputText value="#{cadastroDisciplina.disciplina.status}" required="true" type="text" id="status" class="form-control" name="status" />
			                      <h:outputLabel value="Descrição:" />
			                      <h:inputText value="#{cadastroDisciplina.disciplina.descricao}" type="text" id="descricao" class="form-control" name="descricao" style="height: 160px"/>
			                      <h:outputLabel value="Ementa:" />
			                      <h:inputText value="#{cadastroDisciplina.disciplina.ementa}" type="text" id="ementa" class="form-control" name="ementa" style="height: 160px"/>
			                      <h:outputLabel value="Bibliografia:" />
			                      <h:inputText value="#{cadastroDisciplina.disciplina.bibliografia}" type="text" id="bibliografia" class="form-control" name="bibliografia" style="height: 160px"/>
			                      <h:outputLabel value="Carga Horária:" />
			                      <h:inputText value="#{cadastroDisciplina.disciplina.cargaHoraria}" type="text" id="cargaHoraria" class="form-control" name="cargaHoraria" />
								<br/>
								<h:commandButton action="#{cadastroDisciplina.inserir()}" value="Salvar" class="btn btn-primary btn-xs"/><i class="fa fa-edit"></i>
								</h:form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </ui:define>
</ui:composition>
