<ui:composition template="/WEB-INF/principal.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">
        SIGE - Cadastro de Equipamentos
    </ui:define>

    <ui:define name="content">
    <div role="main">
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Cadastro de Novo Equipamento</h3>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_content">
								<h:messages styleClass="text-muted font-13 m-b-30"/>
								<h:form id="demo-form">
			                      <h:outputLabel value="Código*:" />
			                      <h:inputText value="#{cadastroEquipamento.equipamento.codigo}" required="true" type="text" id="codigo" class="form-control" name="codigo" />
								  <h:outputLabel value="Nome*:" />
			                      <h:inputText value="#{cadastroEquipamento.equipamento.nome}" required="true" type="text" id="nome" class="form-control" name="nome" />
			                      <h:outputLabel value="Status*:" />
			                      <h:inputText value="#{cadastroEquipamento.equipamento.status}" required="true" type="text" id="status" class="form-control" name="status" />
			                      <h:outputLabel value="Descrição:" />
			                      <h:inputText value="#{cadastroEquipamento.equipamento.descricao}" type="text" id="descricao" class="form-control" name="descricao" />
			                      <h:outputLabel value="Marca:" />
			                      <h:inputText value="#{cadastroEquipamento.equipamento.marca}" type="text" id="marca" class="form-control" name="marca" />
			                      <h:outputLabel value="Data de Aquisição:" />
			                      <h:inputText value="#{cadastroEquipamento.equipamento.dtAquisicao}" type="text" id="dtAquisicao" class="form-control" name="dtAquisicao" />
			                      <h:outputLabel value="Número de Ordem:" />
			                      <h:inputText value="#{cadastroEquipamento.equipamento.numeroOrdem}" type="text" id="numeroOrdem" class="form-control" name="numeroOrdem" />
			                      <h:outputLabel value="Valor de Compra:" />
			                      <h:inputText value="#{cadastroEquipamento.equipamento.valorCompra}" type="text" id="valorCompra" class="form-control" name="valorCompra" />
			                      <h:outputLabel value="Código da Sala:" />
			                      <h:inputText value="#{cadastroEquipamento.equipamento.sala_codigo}" type="text" id="sala_codigo" class="form-control" name="sala_codigo" />
								<br/>
								<h:commandButton action="#{cadastroEquipamento.inserir()}" value="Salvar" class="btn btn-primary btn-xs"/><i class="fa fa-edit"></i>
								</h:form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </ui:define>
</ui:composition>
