<ui:composition template="/WEB-INF/principal.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


  

	<ui:define name="title">
        SIGE
    </ui:define>

	<ui:define name="content">
		<div role="main">
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Fornecedores</h3>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<div class="box-header">
									<a href="cad_fornecedor.xhtml"									   
										class="btn btn-success">Cadastrar novo Fornecedor</a>									
										
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<h:messages styleClass="text-muted font-13 m-b-30" />
								<h:messages autoUpdate="true" />
								<h:form id="lista">
								  	<p>Pesquisar</p>  
  									<input class="form-control" id="myInput" type="text" placeholder="Search..">
  									</input>
									<table id="datatable"
										class="table table-striped table-bordered">
										<thead>
											<tr>
												<th>Código</th>
												<th>Nome</th>
												<th>Status</th>
												<th style="width: 180px"></th>
											</tr>
										</thead>

										<tbody id="myTable">
										
											<ui:repeat var="objeto" value="#{cadastroFornecedores.lista}" id="mylist">
												<tr>													  
												 	<td><h:outputText value="#{objeto.codigo}" /> </td>  
													<td><h:outputText value="#{objeto.nome}" id="nome" name="nome"/></td>
													<td><h:outputText value="#{objeto.status}" /></td>
									 				
									 				
													<td>
														<h:commandLink														
														    actionListener="#{cadastroFornecedores.editar(objeto.codigo)}" 
															action="cad_fornecedor?faces-redirect=false}" update="@form"														
																												
															class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>
																Editar
														</h:commandLink>  
																
														
														<h:commandLink		
															action="#{cadastroFornecedores.excluir(objeto.codigo)}"
															class="btn btn-danger btn-xs"
															onclick="return confirm('Deseja realmente excluir este registro?')"><i
																class="fa fa-trash"></i> Excluir
																<div class="clearfix"></div>
														</h:commandLink> 
												    </td>
												</tr>
											</ui:repeat>
											
										</tbody>
									</table>									
								</h:form>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<script>
		$(document).ready(function(){
		  $("#myInput").on("keyup", function() {
		    var value = $(this).val().toLowerCase();
		    $("#myTable tr").filter(function() {
		      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		    });
		  });
		});
		</script>

		
		
	</ui:define>
</ui:composition>


