<ui:composition template="/WEB-INF/principal.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
        SIGE
    </ui:define>

	<ui:define name="content">
		<div role="main">
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Funcionarios</h3>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<div class="box-header">
									<a href="#{cadastroTitulacao.novo()}" class="btn btn-success">Cadastrar novo Funcionario</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<h:messages styleClass="text-muted font-13 m-b-30"/>
								<table id="datatable" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Matrícula</th>
											<th>CPF</th>
											<th>Status</th>
											<th>Nome</th>
											<th>Sobrenome</th>
											<th>Email</th>
											<th>Telefone</th>
											<th style="width: 160px">&#x0020;</th>
										</tr>
									</thead>

									<tbody>
									<ui:repeat var="obj" value="#{cadastroFuncionario.funcionarios}">
										<tr>
											<td><h:outputText value="#{obj.matricula}" /></td>
											<td><h:outputText value="#{obj.cpf}" /></td>
											<td><h:outputText value="#{obj.status}" /></td>
											<td><h:outputText value="#{obj.nome}" /></td>
											<td><h:outputText value="#{obj.sobrenome}" /></td>
											<td><h:outputText value="#{obj.email}" /></td>
											<td><h:outputText value="#{obj.telefone}" /></td>
											<td>
												<a href="#{cadastroTitulacao.editar(objeto.codigo)}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>Editar</a>
												<a href="#{cadastroTitulacao.excluir(objeto.codigo)}" class="btn btn-danger btn-xs" onclick="return confirm('Deseja realmente excluir este registro?')"><i class="fa fa-trash"></i> Excluir</a>
											</td>
										</tr>
									</ui:repeat>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</ui:define>
</ui:composition>
