<ui:composition template="/WEB-INF/principal.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">
        Professores
    </ui:define>

    <ui:define name="content">
        <h1>Lista de Professores <small>Tabela com todos os professores cadastrados no banco de dados</small></h1>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Informações sobre <i>Professores</i></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                      Todas as informações cadastradas no banco de dados sobre os professores
                    </p>
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Matrícula</th>
                          <th>CPF</th>
                          <th>Nome</th>
                          <th>Sobrenome</th>
                          <th>Sexo</th>
                          <th>Data de Nascimento</th>
                          <th>Email</th>
                          <th>Data de cadastro</th>
                          <th>Status</th>
                          <th>Telefone</th>
                          <th>Endereço</th>
                          <th>Cidade</th>
                          <th>UF</th>
                          <th>CEP</th>
                          <th>Valor/Hora de aula</th>
                          <th>Cod. de titulação</th>
                        </tr>
                      </thead>


                      <tbody>
                      <ui:repeat var="professor" value="#{cadastroProfessor.lista}">
                      	<tr>
                      	  <td><h:outputText value="#{professor.matricula}" /></td>
                          <td><h:outputText value="#{professor.cpf}" /></td>
                          <td><h:outputText value="#{professor.nome}" /></td>
                          <td><h:outputText value="#{professor.sobrenome}" /></td>
                          <td><h:outputText value="#{professor.sexo}" /></td>
                          <td><h:outputText value="#{professor.dtNascimento}" /></td>
                          <td><h:outputText value="#{professor.email}" /></td>
                          <td><h:outputText value="#{professor.dtCadastro}" /></td>
                          <td><h:outputText value="#{professor.status}" /></td>
                          <td><h:outputText value="#{professor.telefone}" /></td>
                          <td><h:outputText value="#{professor.endereco}" /></td>
                          <td><h:outputText value="#{professor.cidade}" /></td>
                          <td><h:outputText value="#{professor.uf}" /></td>
                          <td><h:outputText value="#{professor.cep}" /></td>
                          <td><h:outputText value="#{professor.valorHoraAula}" /></td>
                          <td><h:outputText value="#{professor.titulacao.codigo}" /></td>
						  <td>
							<a href="#{cadastroProfessor.editar()}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>Editar</a>
							<a href="#{cadastroProfessor.excluir(professor.matricula)}" class="btn btn-danger btn-xs" onclick="return confirm('Deseja realmente excluir este registro?')"><i class="fa fa-trash"></i> Excluir</a>
					      </td>
                        </tr>
					  </ui:repeat>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
    </ui:define>
</ui:composition>