<ui:composition template="/WEB-INF/principal.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">
        SIGE - Lista de Salas
    </ui:define>

    <ui:define name="content">
    <div role="main">
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Lista de Salas</h3>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<div class="box-header">
									<a href="#{cadastroSala.novo()}" class="btn btn-success">Cadastrar nova Sala</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<h:messages styleClass="text-muted font-13 m-b-30"/>
								<table id="datatable" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Código</th>
											<th>Nome</th>
											<th>Status</th>
											<th>Tipo de Sala</th>
											<th style="width: 160px">&#x0020;</th>
										</tr>
									</thead>
									<tbody>
									<ui:repeat var="sala" value="#{cadastroSala.listaSalas}">
										<tr>
											<td><h:outputText value="#{sala.codigo}" /></td>
											<td><h:outputText value="#{sala.nome}" /></td>
											<td><h:outputText value="#{sala.status}" /></td>
											<td><h:outputText value="#{sala.salaTipo_codigo}" /></td>
											<td>
												<a href="#{cadastroSala.editar(sala)}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>Editar</a>
												<a href="#{cadastroSala.excluir(sala.codigo)}" class="btn btn-danger btn-xs" onclick="return confirm('Deseja realmente excluir este registro?')"><i class="fa fa-trash"></i> Excluir</a>
											</td>
										</tr>
									</ui:repeat>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </ui:define>
</ui:composition>
