<ui:composition template="/WEB-INF/principal.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
        SIGE
    </ui:define>

	<ui:define name="content">
		<div role="main">
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Titulações</h3>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="x_title">
					<h2>Cadastro de Titulação</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<h:messages styleClass="text-muted font-13 m-b-30"/>
					<h:form role="form">
						<h:inputHidden id="codigo" name="codigo" value="#{cadastroTitulacao.titulacao.codigo}"/>
						<div class="box-body">
							<div class="form-group">
								<h:outputLabel for="cod" value="Código" rendered="#{cadastroTitulacao.titulacao.codigo gt 0}"/> 
								<h:inputText styleClass="form-control" id="cod" name="cod" value="#{cadastroTitulacao.titulacao.codigo}" readonly="true" rendered="#{cadastroTitulacao.titulacao.codigo gt 0}"/>
							</div>
							<div class="form-group">
								<h:outputLabel for="nome" value="Nome *"/>
								<h:inputText id="nome" name="nome" value="#{cadastroTitulacao.titulacao.nome}" styleClass="form-control" placeholder="Digite o Nome" required="true"/>
							</div>
							<div class="form-group">
								<h:outputLabel for="pisoHoraAula" value="Piso (hora-aula) *"/> 
								<h:inputText styleClass="form-control" id="pisoHoraAula" name="pisoHoraAula" value="#{cadastroTitulacao.titulacao.pisoHoraAula}" placeholder="0.0" required="true"/>
							</div>
						</div>
						<div class="box-footer">
							<h:commandButton action="#{cadastroTitulacao.salvar()}" value="Salvar" styleClass="btn btn-primary"/>
							<h:link outcome="titulacao.xhtml" value="Voltar" styleClass="btn btn-default" />
							<br /> <br />
						</div>
					</h:form>
				</div>
			</div>
		</div>
				
	</ui:define>
</ui:composition>